body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
    min-height: 400px;
    width: 270px;
}

img{
    width: 100%;
    height: 100%;
    border: 1px solid skyblue;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 4px;
    margin: 30px;
    padding: 10px;
}

