body{
    background-color: turquoise;
    min-height: 400px;
    width: 270px;
    border: 1px solid skyblue;
    border-radius: 10px;
    box-shadow: 2px 8px 10px 4px;
    margin: 30px;
    padding: 10px;
}

.picture{
    width: 50px
}